
body{
    margin: 0;
	padding: 0;
	
}
hr {
    border: 0;
    height: 1px; /* détermine la taille du hr */
    background-color: lightgray; /* détermine la couleur du hr */
}

video {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -2;
}

header.jumbotron {
	position: relative;
	overflow: hidden;
	height: 100vh;
	width: 100%;
	color: #fff;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	line-height: 1em;
}

header.jumbotron h1,h2{
	font-family: 'Anton', sans-serif;
	line-height: 30px
	
}
a{
	text-decoration: none;
}

h1,h2{
	
}

div.container {
	width: 1024px;
	margin: auto;
	
}

/*--------------------- main-----------------------*/

#qui_je_suis{
	text-align: center;
	
}
section{
	margin: 2%;
	padding: 7%;
}
.année{
	display: flex;
	flex-direction: column;
	border-right: 1px solid black;
	width: 20%;
}
.contenu_par_ligne{
	display: flex;
	flex-direction: row;
	padding: 2%
	
	
}

.informations{
	width: 79%;
	padding: 0% 2%;
}
p{
	margin: 2px;
}

.competences{
	display: flex;
	flex-direction: row;
	
	
}
.competences>ul{
	background-color: lightgray;
	list-style: square;
	width: 21%;
	margin: 7% auto;
	padding: 5%;

}

/*----------------------------footer-----------------------*/
footer ul li img {
	width: 30px;	
}

footer ul li {
	list-style: none;
	display: inline-block;
	
}
footer ul {
	text-align: center;
	
}
footer p {
	font-size: 1.1em
}

/*---------------------nav---------------------*/
nav {
	top: 25vh;
	height: 50vh;
	position: fixed;
	background-color: white;
	z-index: 3;
}

nav > ul {
	display: flex;
	flex-direction: column;
	list-style: none;
	padding: 0;
	margin: 0;
}

nav > ul > li > a {
	display: block;
	height: 10vh;
	cursor: pointer;
}

nav > ul > li > a > img {
	box-sizing: border-box;
	display: block;
	height: 100%;
	padding: .5rem;
}